<h1> Welcome, <%= @trainer.username %> </h1><br>

<h3>You have <%= @trainer.belts.count %> belts for for holding pokemon. </h3>
<h3>Current Belts</h3>


<%= button_to "Create a new belt for a pokemon team", new_trainer_belt_path(@trainer), method: :get %>
<%= button_to "Add Pokemon to Pokedex", new_pokemon_path, method: :get %>
<%= button_to "Current Pokemon in Pokedex", pokemons_path, method: :get %>
<%= button_to "Logout", logout_path, method: :delete %>