<h1><%= welcome_header %> </h1><br>

<h3>You have <%= current_trainer.belts.count %> belts for for holding pokemon. </h3>
<h3>Top 5 Belts</h3>
<div>
<% current_trainer.belts.top_belts.each do |belt|%>
<%= belt.belt_name %>  <%= belt.tier%><br>
<% end %>


<%= button_to "Create a new belt for a pokemon team", new_trainer_belt_path(@trainer), method: :get %>
<%= button_to "Created belts with pokemon", belts_path, method: :get %>
</div>
